<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.ar" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="AB eBus"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PancaranTicket.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Page.fromPage"
            android:exported="false" />
        <activity
            android:name=".Page.destinationPage"
            android:exported="true" />
        <activity
            android:name=".Page.helpPage"
            android:exported="false" />
        <activity
            android:name=".Page.userPage"
            android:exported="false" />
        <activity
            android:name=".Page.historyPage"
            android:exported="false" />
        <activity
            android:name=".mainPage"
            android:exported="false" />
        <activity
            android:name=".signUpActivity"
            android:exported="false" />
        <activity
            android:name=".trip"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BillPlz"
            android:exported="true" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".ARDependencies.helloar.HelloArActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>